.documents{
    overflow: hidden;
    height: 35em;
    padding: 1em 0;
    display: grid;
    grid-gap: 2em;
    grid-template-columns: repeat(5, 12em);
    grid-template-rows: repeat(4, auto);
}
.documents:empty{
    display: inline-block;
    text-align: center;
}
.documents:empty:after, h1{
    width: 100%;
    content: 'No documents yet';
    font-size:3em;
}
.documents > div{
    position: relative;
    background-color: #ffffff;
    box-shadow: 0 0 16px #ccc;
    border-radius: 1em;
    height: 7em;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    justify-content: center;
}
.documents > div:nth-child(20n){
    margin-bottom: 4em;
}
.documents > div > img{
    position: absolute;
    width: 100%;
    top:0;
    left: 0;
    z-index: 0;
    pointer-events: none;
}
.documents > div:hover > img{
    display: none;
}
.documents > div:hover > b,
.documents > div:hover > a{
    position: relative;
    z-index: 1;
}
.documents > div > b{
    font-size: 1.2em;
}
.documents > div > [deleter]{
    color:red;
}