.createPDF:not([hidden]){
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    display: flex;
    justify-content: center;
    background: #eeeeee;
    z-index: 10;
}
.createPDF label{
    font-size: 2em;
    padding: 2em;
}
.createPDF > div, .createPDF > div > form{
    position: relative;
    margin: 10em;
}
.createPDF form > input{
    width: 14em;
    font-size: 2em;
    background-color: #ffffff;
    box-shadow: 0 0 16px #ccc;
    border-radius: 1em;
}
.createPDF form > input:not(:valid) + a{
    display: none !important;
}
.createPDF form > i{
    font-size: 6em;
    position: fixed;
    top: 1em;
    right: 1em;
}
.createPDF form > a{
    font-size: 6em;
    position: absolute;
    top: 0;
    right: -1em;
    color: #bbb;
}