*{
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    text-decoration: none;
}
html{
    width:100%;
    height:100%;
}
body{
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: #eee;
    font: 14px "Calibri Light";
}
header{
    padding: 10em 0 5em;
}
section, header{
    margin: auto;
}
input{
    padding: 1em;
    width:20em;
    font-weight: bold;
    font-size:inherit;
}
header > button{
    padding: 2em;
    font-weight: bold;
    font-size:inherit;
    border-radius: 1em;
    border-top:5px solid buttonface;
    border-bottom: 1px dotted;
    -webkit-transition: all .1s;
    -moz-transition: all .1s;
    -ms-transition: all .1s;
    -o-transition: all .1s;
    transition: all .1s;
}
header > button:hover{
    padding: 2em;
    border-top:1px solid white;
    border-bottom: 5px solid;
    background-color: white;
}
a,i,input,button,
.documents > div
{
    cursor: pointer;
}


@keyframes an1 {
    0%   {left:0; width:0%;}
    25%  {left:25%; width:25%;}
    50%  {left:50%; width:50%;}
    75%  {left:75%; width:25%;}
    100% {left:99%; width:1%;}
}
[animated]{
    position: relative;
}
[animated]:after{
    content: '';
    position: absolute;
    border-bottom: 3px solid darkred;
    left:0;
    width:3px;
    margin-top: 1px;
    z-index: 10;

    animation-name: an1;
    animation-duration: 1s;
    animation-iteration-count: infinite;

}