nav {
    background: white;
    border-bottom: 1px solid #ccc;
    font-size: 1.2em;
    letter-spacing: 1px;
    font-weight: bold;
    margin-bottom: 3em;
}
nav > a{
    margin: 1em;
    display: block;
}
nav form > input{
    border-radius: 1em;
    position: relative;
    top: 1.5em;
    border: 1px solid #bbb;
}
nav form > input[type=submit]{
    width: auto;
}